name: ${Name}

include:
  - path: docker-common/mariadb.yml
    env_file: docker-common/mariadb.env
  - path: docker-common/ngrok.yml
    env_file: docker-common/ngrok.env
  - path: search-engines/opensearch.yml

services:

  magento:
    container_name: ${Name}-site
    build:
      context: ./magento
      args:
        PHP_Tag:
        Magento_Version:
        Magento_Key_Public:
        Magento_Key_Private:
    ports:
      # - ${SITE_80}:80
      - ${SITE_443}:443
    environment:
      DB_HOST: mariadb
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      Search_Engine: ${Search_Engine}
      Search_Engine_HOST: ${Search_Engine_HOST}
      Search_Engine_PORT: ${Search_Engine_PORT}
    env_file:
      - magento.env
    volumes:
      - site:/var/www/html
      - ../paytabs-magento2.x:/var/www/html/app/code/PayTabs/PayPage:rw
    depends_on:
      mariadb:
        condition: service_healthy

volumes:
  site:
